In [ ]:


Ek table 

01 Conenction 01 -- 7 lines 
02 Create query and execute in SQl  03 Read from SQl --  -- 6 lines  lines 
04 Excel    - 2 lines

In [ ]:
For 1 to 55 

01 Conenction 01 -- 7 lines 
02 Create query and execute in SQl  03 Read from SQl --  -- 6 lines  lines  -- Read from Txt, excel, 
04 Excel    - 2 lines

In [ ]:
Select * from tableA 
Select * from tableB
Select * from tableC